table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.title, h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-bottom: -500px;
}

form {
  text-align: center;
}

